@{
    ViewData["Title"] = "Electronic Journal";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name = "viewport" content="width-device-width" />
        <title>Электронный журнал</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="panel-text-table">
            <h2>Журнал учета посещаемости студентов</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Группа</th>
                        <th>Посещаемость</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1234234</td>
                        <td>Дмитрий Коробейщиков</td>
                        <td>группа 90001997</td>
                        <td>+</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>