@model Student

@{
    ViewData["Title"] = "Students Edit";
}

<div>
    <h1>Редактировать данные</h1>
    <div>
        <form asp-controller="Home" asp-action="StudentsEdit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label asp-for="Group"></label>
                <input asp-for="Group" />
                <span asp-validation-for="Group"></span>
            </div>

            <div>
                <label asp-for="Attendance"></label>
                <input asp-for="Attendance" />
                <span asp-validation-for="Attendance"></span>
            </div>

            <div>
                <label asp-for="Id"></label>
                <input asp-for="Id" />
                <span asp-validation-for="Id"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>