body {
}

.WelcomeText {
    position: absolute;
    left: 820px;
    top: 200px;
    width: 310px;
    height: 100px;
}

.btn-primary {
    position: absolute;
    left: 1620px;
    top: 190px;
    width: 25px;
    height: 25px;
}