@model LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style-login.css" />
    </head>
    <body>
        <div class="panel panel-success">
            <div class="panel-heading text-center"><h2>Войти</h2></div>
            <div class="panel-body">
                <form class="p-1" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="UserName">Имя пользователя:</label>
                        <input class="form-control" asp-for="UserName" />
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group"> 
                        <label asp-for="Password">Пароль:</label>
                        <input class="form-control" type="password" asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">Запомнить меня</label>
                        <span asp-validation-for="RememberMe"></span>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Войти" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
